.container {
    display: flex;
    gap: 20px;  /* Khoảng cách giữa menu và sản phẩm */
    margin: 10px 50px 30px;
}

.sidebar {
    flex: 1;  /* Chiếm 1 phần của trang */
    padding: 20px;
}

.product-list {
    flex: 3;  /* Chiếm phần còn lại */
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Hiển thị sản phẩm theo 3 cột */
    gap: 20px;
}

.product-item {
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  cursor: pointer; /* Thêm con trỏ khi hover */
}

.product-item img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.product-name {
    font-size: 1.2em;
    margin-top: 10px;
}

.product-price {
    color: #ff6347;
    font-size: 1.1em;
}

